.git
.github
node_modules
.pnpm-store
apps/*/node_modules
apps/*/.next
packages/*/node_modules
.next
out
dist
build
.turbo
coverage
logs
*.log
.env
.env.local
.env.*.local
docker-compose.override.yml
